name: Build project
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # TODO build project

      - uses: docker/setup-buildx-action@v2

      - name: Build docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          load: true
          tags: simple-server:v1.0

      - name: Test
        run: |
          docker run -d --name simple-server -p 8080:8080 -e GREETING_NAME=Alex simple-server:v1.0

          # wait for container ready
          sleep 30

          greeting=$(curl -s http://localhost:8080)
          if [ "$greeting" != "Hello, Alex" ]; then
            echo "Expected [Hello, Alex], but greeting from docker [$greeting] doesn't macthes"
            exit 1
          fi